body {
    background-color: var(--white);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.user-name {
    font-size: 25px;
    font-weight: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -100px;
}

.job-name {
    margin-right: 210px;
    font-weight: bold;
}

.paystub-amount {
    float: right;
    font-weight: bolder;
    font-size: larger;
    margin-top: -26px;
    margin-right: 20px;
}

.pay-frequency {
    margin-left: 215px;
    font-weight: bold;
}



.remaining-p {
    font-size: 25px;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: -160px;
}

.remaning-balance {
    font-size: 70px;
    font-weight: 900;
    color: var(--green);
    margin-right: 70px;
    margin-top: 15px;
}

.bills-p {
    padding-top: 20px;
    margin-left: -275px;
    font-weight: bold;
}

.bill {
    background-color: var(--darkGray);
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-right: 18px;
    height: 70px;
    
}


.page-div{
    width: 380px;
    margin-left: 40%;
  }




.balance-div {
    background-color: var(--gray);
    border-radius: 15px;
    height: 13rem;
    margin-right: 10px;
    margin-left: 10px;
}

.bills-div {
    background-color: var(--gray);
    border-radius: 15px;
    height: 17.9rem;
    margin-right: 10px;
    margin-left: 10px;
}

.bill-name {
    float: left;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 22px;
}

.bill-total {
    float: right;
    font-size: 22px;
    margin-top: 22px;
    margin-right: 20px;
    color: var(--red)
}

.button {
    width: 235px;
}